.htaccess
.DS_Store
*.jpg
*.jpeg
*.JPG
*.JPEG
*.log
*.config
*.bak
U9M*
weeklypicphp.code-workspace
_destination
_destination/*
.vscode/
.idea/
user.txt
images/2*
images/0*
src/config.config
_log/*.log
_log/user.txt
